.rowContainer {
    display: flex;
    justify-content: center;
}

.margin {
    margin: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}